 @font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
 @font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf');}

html {
  background-image: linear-gradient(#358a3b, #fefefe);
  font-size: 20px;
}

#about {
  background-color: #1b1b1b;
  margin: -10px;
  padding: 0px 10px;
}

h1 {
  font-family:Gothic A1, sans-serif;
  font-size: 30px;
  color:white;
}

h2 {
  font-family:'Gothic A1', sans-serif;
  font-size: 15px;
  color:white;
}

footer {
  background-color: #1b1b1b
}

